.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #01215c;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imagine-input-container {
  width: 55%;
  display: block;
  padding-bottom: 36px;
}

.imagine-text-field {
  width: 100%;
}

.imagine-prompt-submit-button {
  margin: 0 12px 0 24px;
  height: 48px;
  float: right;
}

.image-fmt {
  max-width: 560px;
  max-height: 560px;
}

.progress-spinner {
  align-items: center;
  justify-content: center;
  min-width: 35%;
  min-height: 35%;
}

.email-address-textfield {
  float: right;
  width: 55%;
}